<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Weather App</ion-list-header>
          <ion-note>Made By Lyon Incode</ion-note>

          @for (p of appPages; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              [ngClass]="{ selected: this.currentUrl.includes(p.include) }"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label class="ml-3">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>

        <hr />

        <ion-list>
          <ion-item>
            <ion-select
              interface="popover"
              placeholder="Select Grade"
              [(ngModel)]="scaleSelected"
              name="gradeSelected"
              (ionChange)="onHandleGradeChange()"
              label="Scale Config" label-placement="fixed"
            >
              <ion-select-option value="C">Celsius</ion-select-option>
              <ion-select-option value="F">Fahrenheit</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
