
<app-header-main [title]="currentLocationCity?.name ?? 'Home'"></app-header-main>

<ion-content class="ion-padding" [scrollY]="true">

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="container">

    @if(currentLocationCity && currentLocationCondition) {
      <app-location-detail 
        [locationCity]="currentLocationCity" 
        [locationCondition]="currentLocationCondition"
        (addItem)="saveToFavorite($event)"
        (removeItem)="removeFromFavorite($event)"
        [isLoading]="isLoading"
      ></app-location-detail>
    } 
    
    @if(!currentLocationCity && !currentLocationCondition && isLoading === false) {
      <ion-card>
        <ion-card-content>
          We could not access to your current Location
        </ion-card-content>
      </ion-card>
    } 
  </div>
</ion-content>
