
<app-header-main [title]="currentLocationCity?.name ?? 'Home'"></app-header-main>

<ion-content [fullscreen]="true" class="ion-padding">


  <div id="container">

    <app-location-detail [locationCity]="currentLocationCity" [locationCondition]="currentLocationCondition"></app-location-detail>
    <!-- <strong class="capitalize">Home</strong>

    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->

  </div>
</ion-content>
