/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */

@import "@ionic/angular/css/palettes/dark.class.css"; 


// @import "@ionic/angular/css/palettes/dark.system.css";


.d-flex {
  display: flex;
}


.modal-select-city {
  --width: 90%;
  --height: 84%;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

  @media screen and (min-width: 590px) {
    --width: 70%;
    --height: 64%;
  }

  @media screen and (min-width: 720px) {
    --width: 40%;
    --height: 64%;
  }
}


.alert-class {
  border-radius: 8px;
  --width: 80%;
  --max-width: unset !important;

  .alert-wrapper {
    //background-color: #1c1a24 !important;
    line-height: 20.11px;
  }

  .alert-head {
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
  }

  .alert-message {
    padding-bottom: 6px;
    font-weight: 600;
    -webkit-padding-start: 20px;
    padding-inline-start: 20px;
    -webkit-padding-end: 20px;
    padding-inline-end: 20px;
  }

  .alert-message-container {
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .alert-title {
    margin-top: 0px !important;
  }

  .alert-icon {
    height: min-content;
    width: 27px;
    margin-right: 8px;
  }

  .alert-button-group {
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 0px;
    justify-content: space-evenly;

    .alert-button {
      background: var(--ion-color-medium);;
      color: white;
      border-radius: 4px;
      font-size: 14px;
      padding: 8px 16px;
      margin-right: 0px !important;
      text-transform: capitalize;

      span {
        width: 97px;
        color: white !important;
        text-align: center;
        justify-content: center;
      }
    }

    .alert-button-role-cancel {
      background: var(--ion-color-success);
      border: 1px solid var(--ion-color-success);
    }
  }

  @media screen and (min-width: 720px) {
    --width: 30%;
  }
}